<% layout('/layouts/boilerplate') -%>
<body>
      <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
     </form> -->
<h2>All Listings</h2>
 <div class="row">
 <% for(let listing of AllListings) { %>
 
 <div class="card" style="width: 19rem;">
   <a href="/listing/<%=listing._id%>" class="listing-links">
  <div class="card-img">
   <img src="<%=listing.image%>" class="card-img-top" style="width: 100%; height:14rem;" alt="Listing Image">
  </div>
  <div class="card-img-overlay"></div>
 </a>
 <a href="/listing/<%=listing._id%>" class="listing-links">
   <div class="card-body">
     <b> <%= listing.title %> </b>  <br>
        PKR:<%= listing.price.toLocaleString("en-PK") %>/night
  </div>
  </a>
</div>
<% } %>

</div>

</body>